[:html
 [:head
  [:meta {:charset "utf-8"}]
  [:meta {:name "viewport" :content "width=device-width, user-scalable=no, minimal-ui"}]
  [:title :data/title]
  [:page/css
   "css/bootstrap.min.css"
   "css/octicons.min.css"
   "css/resume.css"]]
 [:body
  [:header#header
   [:div.container
    [:div.row
     ;; profile image
     #_[:table
      [:tbody
       [:tr
        [:td [:page/image {:src   :data/basics.image
                           :width "60px"}]]
        [:td [:div.col-sm-9.col-sm-push-3
              [:h1 :data/basics.name]
              [:h2 :data/basics.label]]]]]]
     [:div.col-sm-9.col-sm-push-3
      [:h1 :data/basics.name]
      [:h2 :data/basics.label]]]]]
  
  [:div#content.container
   [:div.row
    [:table
     [:thead
      [:tr
       [:th [:aside.col-sm-3 [:h3 "Contacts"]]]
       [:th [:aside.col-sm-3 [:h3 "Profiles"]]]]]
     [:tbody
      [:tr
       [:td
        [:div.col-sm-9
         [:table
          [:tbody
           [:tr [:td [:strong "Email"] [:td [:span.email :data/basics.email]]]]
           [:tr [:td [:strong "Phone"] [:td [:span.phone :data/basics.phone]]]]
           [:tr [:td [:strong "Website"] [:td [:span.website [:a {:href :data/basics.website} :data/basics.website]]]]]]]]]
       [:td
        [:div.col-sm-9
         [:table
          [:tbody
           (for [{:keys [network username url]} :data/basics.profiles]
             [:tr
              [:td [:strong network]]
              [:td [:span.phone [:a {:href url} username]]]])]]]]]]]]
   
   [:section#about.row
    [:aside.col-sm-3
     [:h3 "About"]]
    [:div.col-sm-9
     [:p :data/basics.summary]]]
   
   [:section#skills.row
    [:aside.col-sm-3
     [:h3 "Skills"]]
    [:div.col-sm-9
     [:div.row
      (for [{:keys [name keywords]} :data/skills]
        [:div.col-sm-12
         [:h4.strike-through
          [:span name]]
         [:ul [:li (apply str (interpose ", " keywords))]]])]]]

   [:div.page-break]

   [:section#work.row
    [:aside.col-sm-3
     [:h3 "Work"]]
    [:div.col-sm-9
     [:div.row
      (for [{:keys [company position website startDate endDate summary highlights]}
            :data/work]
        [:div.col-sm-12
         [:h4.strike-through
          [:span company]
          [:span.date startDate (when startDate " - ") endDate]]
         (when website
           [:div.website.pull-right
            [:a {:href website} website]])
         [:div.position [:strong position]]
         [:div.summary
          [:p summary]]
         (when highlights
           [:div
            [:ul.highlights
             (for [highlight highlights]
               [:li.bullet highlight])]])])]]]
   
   [:div.page-break]

   [:section#education.row
    [:aside.col-sm-3
     [:h3 "Education"]]
    [:div.col-sm-9
     [:div.row
      (for [{:keys [institution area studyType startDate endDate]} :data/education]
        [:div.col-sm-12
         [:h4.strike-through
          [:span institution]
          [:span.date startDate (when startDate " - ") endDate]]
         [:div.area area]
         [:div.studyType studyType]])]]]
   
   [:section#projects.row
    [:aside.col-sm-3
     [:h3 "Projects"]]
    [:div.col-sm-9
     [:div.row
      (for [{:keys [name summary url]} :data/projects]
        [:div.col-sm-12
         [:h4.strike-through
          [:span name]]
         [:div summary]
         [:div
          [:a {:href url} url]]])]]]
   
   [:section#publications.row
    [:aside.col-sm-3
     [:h3 "Publications"]]
    [:div.col-sm-9
     [:div.row
      (for [{:keys [name publisher releaseDate website summary]} :data/publications]
        [:div.col-sm-12
         [:h4.strike-through
          [:span name]
          [:span.date releaseDate]] 
         [:div.publisher
          [:em "Published by "]
          [:strong publisher]]
         [:div.summary
          [:p summary]]
         [:div
          [:a {:href website} "View publication"]]])]]]
   
   [:section#talks.row
    [:aside.col-sm-3
     [:h3 "Talks"]]
    [:div.col-sm-9
     [:div.row
      (for [{:keys [name date url]} :data/talks]
        [:div.col-sm-12
         [:h4.strike-through
          [:span name]
          [:span.date date]]
         [:div
          [:a {:href url} url]]])]]]]]]