{:basics       {:name     "Dmitri Sotnikov"
                :label    "Software Developer"
                :image    "profile.jpg"
                :email    "dmitri.sotnikov@gmail.com"
                :phone    "(647) 985-3615"
                :website  "https://yogthos.net"
                :linkedin {:username "dmitrisotnikov"
                           :url      "https://www.linkedin.com/in/dmitrisotnikov/"}
                :github   {:username "yogthos"
                           :url      "https://github.com/yogthos/"}
                :summary  "As a seasoned developer, I have accumulated a couple of decades of experience in the web application domain. Throughout my career, I have demonstrated proficiency in all aspects of the application development lifecycle, encompassing requirements gathering, scope analysis, project planning, design, development, and operations. As a technical team lead, I have adeptly overseen teams through the design, development, and operations of large-scale, mission-critical projects. Additionally, I am a published author and an engaged member of the Clojure open-source community, constantly seeking to further my knowledge and share insights with peers."
                :location {:address     "1210-45 Carlton street"
                           :postalCode  "M5B 2H9"
                           :city        "Toronto"
                           :countryCode "Canada"
                           :region      "Ontario"}
                :profiles [{:network  "LinkedIn"
                            :username "dmitrisotnikov"
                            :url      "https://www.linkedin.com/in/dmitrisotnikov/"}
                           {:network  "GitHub"
                            :username "yogthos"
                            :url      "https://github.com/yogthos/"}]}
 :work         [{:company    "Lumanu"
                 :position   "Sr. Software Architect"
                 :website    "https://lumanu.com"
                 :startDate  "2022-02-01"
                 :endDate    "2023-05-10"
                 :summary    "As a senior developer, I played a key role in building a robust and scalable financial services platform."
                 :highlights ["Designed and implemented a microservice architecture that allowed for efficient management of financial transactions, ensuring that our platform could handle large volumes of data with ease."
                              "Created infrastructure for microservice orchestration that enabled seamless communication between different services, reducing downtime and improving overall reliability."
                              "Developed RESTful APIs for our financial services, making it easy for customers to interact with our platform and enabling us to deliver a seamless user experience."
                              "Mentored junior developers, sharing my expertise and knowledge of best practices in financial services development to help them grow as professionals and contribute to the success of our team."]}
                {:company    "University Health Network"
                 :position   "Technical Specialist"
                 :website    "https://uhn.ca"
                 :startDate  "2009-07-01"
                 :endDate    "2022-01-25"
                 :summary    "As a healthcare IT professional, I have demonstrated a strong track record of leadership and innovation in developing cutting-edge solutions to meet complex business needs."
                 :highlights ["Led the development of a hospital-wide portal that enables seamless integration of data from multiple systems, while supporting complex transactional business rules and multi-user editing. By ensuring that data remains synchronized across clients, this solution has revolutionized the way healthcare professionals access and share information, enabling faster, more accurate diagnoses and treatment."
                              "Built eConsent and survey collection tools for UHN Researchers, streamlining data collection and analysis to support scientific research at the organiation."
                              "Provided operational support for mission-critical applications, ensuring that healthcare professionals have access to the data and tools they need to make informed decisions and deliver top-quality care. Through proactive monitoring and maintenance, I have helped minimize downtime, ensuring that patients receive the highest quality care."
                              "Hired, trained, and supervised co-op students, sharing my expertise and knowledge of best practices in Clojure development to help the next generation of professionals grow and thrive in this dynamic and challenging field."]}
                {:company    "Arius Software"
                 :position   "Software Developer"
                 :startDate  "2007-10-20"
                 :endDate    "2009-06-20"
                 :summary    "As a skilled Java developer with expertise in full-stack financial application development, I have helped design and implement cutting-edge solutions to meet complex business needs."
                 :highlights ["Developed a full-stack financial application to deliver faster and more accurate decision-making for financial professionals."
                              "Implemented financial system integration over TICS/FIX protocols, allowing for data transfer between different financial systems. By streamlining complex data flows, this solution has helped improve efficiency of financial workflows."
                              "Developed internal tools to enhance productivity, leveraging my expertise in Java and other programming languages to build custom tools that automate routine tasks and streamline workflows. By reducing manual labor and freeing up valuable time for more strategic tasks, these tools have helped increase productivity and efficiency across the organization."]}
                {:company    "Bulletproof Software"
                 :position   "Software Developer"
                 :startDate  "2005-05-01"
                 :endDate    "2007-10-09"
                 :summary    "As a Java developer with expertise in web services, I helped design and implement robust and secure solutions to meet complex business needs."
                 :highlights ["Designed and implemented a data broker to integrate data from disparate sources, and ensure seamless data transfer between different systems. This solution has enabled faster and more accurate decision-making, while minimizing the risk of errors."
                              "Designed a data model and implemented a data mapping framework, allowing for efficient data mapping between different systems. By ensuring that data remains accurate and consistent across different applications, this solution has helped increase productivity across the organization."
                              "Worked closely with the product engineering team to deliver features that meet the needs of end-users and stakeholders. By collaborating closely with other teams and stakeholders, I have helped ensure that our solutions meet the highest standards of quality and user experience."
                              "Designed and implemented end-to-end encryption for secure service communication, ensuring that sensitive data remains secure and protected throughout the data transfer process."]}]
 :education    [{:institution "University of New Brunswick"
                 :area        "Computer Science"
                 :studyType   "Master"
                 :startDate   "2004-09-01"
                 :endDate     "2006-06-01"}
                {:institution "University of New Brunswick"
                 :area        "Computer Science"
                 :studyType   "Bachelor"
                 :startDate   "2000-09-01"
                 :endDate     "2004-06-01"}]
 :publications [{:name        "Web Development With Clojure"
                 :publisher   "The Pragmatic Programmer"
                 :releaseDate "2021-07-15"
                 :website     "https://pragprog.com/titles/dswdcloj3/web-development-with-clojure-third-edition"}]
 :projects [{:name        "Kit"
             :summary     "Lightweight, modular framework for scalable production systems"
             :url         "https://kit-clj.github.io"}
            {:name        "Selmer"
             :summary     "HTML templating library"
             :url         "https://github.com/yogthos/Selmer"}
            {:name        "clj-pdf"
             :summary     "PDF templating library"
             :url         "https://github.com/clj-pdf/clj-pdf"}
            {:name        "Migratus"
             :summary     "a migration framework for migrations as SQL scripts or general Clojure code"
             :url         "https://github.com/yogthos/migratus"}]
 :skills [{:name     "Frontend"
           :keywords ["HTML" "CSS" "Reagent" "Re-frame" "Reitit" "ClojureScript" "Shadow-cljs"]}
          {:name "Backend"
           :keywords ["Clojure" "Deps" "Leiningen" "Ring" "Reitit" "Java" "SQL" "Postgres"]}
          {:name "Devops"
           :keywords ["Git" "Docker" "AWS" "Babashka"]}]
 :talks [{:name "Clojure Web Development Evolved"
          :date "2022-04-27"
          :url  "https://www.youtube.com/watch?v=DFzukK5-rpU"}
         {:name "Aviary: Clinical Collaboration Platform"
          :date "2019-05-16"
          :url  "https://www.youtube.com/watch?v=IekPZpfbdaI"}]}


